* {
    font-family: "Fira Code Nerd Font", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 12px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: #ffa4dc;
    border-radius: 25px;
    color: #1e1e2e;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button.focused {
    border-bottom: 2px solid #ffffff;
}

window#waybar.hidden {
    opacity: 0.5;
}

#backlight {
	background-color: #cba6f7;
}

/** ********** Battery ********** **/
#battery {
	background-color: #f9e2af;
}

#battery.charging {
}

#battery.plugged {
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#keyboard-state {
    background-color: #FFFFFF
}
/** ********** Clock ********** **/
#clock {
	background-color: #a6e3a1;
}

/** ********** CPU ********** **/
#cpu {
	background-color: #89dceb;
}

/** ********** Memory ********** **/
#memory {
	background-color: #eba0ac;
}

/** ********** Disk ********** **/
#disk {
	background-color: #b4befe;
}

/** ********** Tray ********** **/
#tray {
	background-color: #cdd6f4;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd {
	background-color: #94e2d5;
}

#mpd.disconnected {
	background-color: #f38ba8;
}

#mpd.stopped {
	background-color: #f5c2e7;
}

#mpd.playing {
	background-color: #74c7ec;
}

#mpd.paused {
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	background-color: #fab387;
}

#pulseaudio.bluetooth {
	background-color: #f5c2e7;
}
#pulseaudio.muted {
	background-color: #313244;
	color: #cdd6f4;
}

/** ********** Network ********** **/
#network {
	background-color: #89b4fa;
}

#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Custom ********** **/
#custom-menu, #custom-power, #custom-weather, #custom-updater {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	/* background-color: #f5c2e7; */
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	/* background-color: #f38ba8; */
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 16px;
}

#custom-updater {
	/* background-color: #e6ed7b; */
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 12px;
}

#custom-weather {
	/* background-color: #cba6f7; */
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 12px;
}

/** Common style **/
#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#keyboard-state,
#network {
    border-radius: 25px;
    margin: 0px;
    padding: 2px 8px;
}
